@require "imports/base"

#app
    background #222
    flex-direction column
    justify-content center

section.main
    height 85vh

#particles-js
    height 100%
    width 100%
    position absolute

.container
    overflow hidden

.column
    flex-direction column
    width 100%
    height 90%

.group
    flex-direction column
    height 100%
    width 100%
    justify-content center

.row
    width 100%
    margin 10px 0

input
    border 2px solid #f3766033
    width 70%
    height 60px
    background #222
    outline none
    padding 0 10px
    color white
    font-family "IBM Plex Sans"
    letter-spacing 2px
    font-size 20px
    transition 0.1s all linear
    opacity 1
    border-right none

    &.eliminated
        opacity 0.1

    &:focus
        border-color #f37660

        .button
            border-color #f37660

.button
    cursor pointer
    padding 0 10px
    transition 0.1s all linear
    height 60px
    border 2px solid #f3766033
    border-left none
    color #f37660
    font-size 16px
    font "IBM Plex Sans"

    &:hover
        background #f3766033
        color #ccc